@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.info-container {
    background-image: url("../images/synth.png") !important;
    color: #ededed;
    height: 100vh;
    width: 100vw;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
}

h1 {
    font-weight: 900;
    font-size: 80px;
}

button {
    border-radius: 5px;
    border: 0 solid rgba(0, 0, 0, 0);
    height: 50px;
    font-weight: 600;
    background: #5e38bf;
    color: #EDEDED;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    width: 70%;
    margin: 11px;
    padding: 10px;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

#siteStats {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../images/background.jpg");
    filter: drop-shadow(0px 0px 20px #8000FF);
    box-shadow: 0px 0px 20px #8000FF inset;
    border: 2.5px solid #AB56FF;
    border-radius: 20px;
}

.stat {
    width: 50%;
    text-align: center;
    overflow-wrap: break-word;
    margin: 8px 0px;
    line-height: 20px;
}

#signingAddress {
    width: 100%;
    font-size: 30px;
}

#signingAddressTitle {
    width: 100%;
    font-size: 55px;
}

.statTitle {
    font-size: 35px;
    line-height: 35px;
}

a {
    color: rgb(163, 133, 252);
    font-weight: 500 !important;
    line-height: 25px;
    font-size: 22px;
}

a:hover {
    cursor: pointer;
    opacity: 0.6;
}

#projectTitle {
    padding: 0px;
    text-decoration: none !important;
    color: white !important;
}